html,
body {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Cormorant", serif;
}

.container {
  background-color: rgb(17, 17, 17);
  position: sticky;
  top: 0;
}

.logotitle {
  display: inline;
}

#logo {
  display: inline;
}

#logo > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 10px;
  border: 3px solid rgb(244, 82, 109);
}

.title {
  display: inline;
  padding-left: 10px;
  font-size: 50px;
  font-weight: 500;
  /* font-family: 'Cormorant', serif;*/
  /* font-family: 'Poppins', sans-serif;  */
}

ul {
  display: flex;
  margin: auto;
  height: 20px;
}

a {
  text-decoration: none;
}

.navmenu {
  float: right;
}

li {
  padding: 5px;
  margin: 10px;
  list-style: none;
}

.navbar {
  font-size: 18px;
  color: white;
}
#Home,
#Services,
#Contact {
  color: white;
}
#About {
  color: rgb(244, 82, 109);
}
p#Home.navbar:hover,
p#About.navbar:hover,
p#Services.navbar:hover,
p#Contact.navbar:hover {
  color: rgb(244, 82, 109);
}
.loginbutton {
  box-sizing: border-box;
  margin: 3% auto 3% 3%;
  align-items: center;
}

#login {
  display: inline;
  font-size: 20px;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  border: none;
  margin-right: 10px;
}

input#login {
  background-color: rgb(214, 79, 102);
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Cormorant", serif;
  font-weight: 800;
}

#login:hover {
  margin-top: auto;
  color: white;
  background-color: #281f1f;
  border: 2px solid white;
}

.heading > p {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: rgb(214, 79, 102);
  /* border:2px solid blue; */
}

.imagepara {
  display: flex;
  margin: 5%;
  background-color: #161313;
  border-radius: 15px;
  padding-top: 0%;
  height: 500px;
}

.image > img {
  align-items: center;
  margin: 7% 5% 5% 5%;
  height: 400px;
  opacity: 0.4;
  border-radius: 10px;
}

.image > img:hover {
  opacity: 0.7;
}

.contentpara {
  margin: 1% 2% 0% 6%;
  /* border:2px solid orange; */
}

#header,
#footer {
  font-size: 25px;
}

#bookingbtn {
  width: 150px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #121212;
  color: white;
  border-radius: 20px;
  font-size: 15px;
}

#bookingbtn:hover {
  background-color: white;
  color: black;
}

.clients {
  display: flex;
  /* height:500px; */
  width: auto;
  /* background-color: #111010 */
}

.clientinfo {
  /* border:2px solid red; */
  background-color: #1c1b1b;
  margin-left: 2%;
  margin-right: 2%;
  width: 33%;
  /* margin-right:2%; */
  padding: 1% 5% 1% 5%;
  border-radius: 20px;
}

.customer-pic {
  /* border: 2px solid green; */
  height: 80px;
  margin-top: 10px;
  border-radius: 100%;
}

.header {
  /* border:2px solid orange; */
  margin: 0%;
  color: slateblue;
  font-size: 25px;
}

.clientinfo > .rating {
  margin: 0%;
  height: 100px;
}

#name {
  font-size: 25px;
  color: rgb(214, 79, 102);
}

.footer {
  background-color: #121212;
  /* border:2px solid red; */
  height: 350px;
  display: flex;
  width: 100%;
  font-size: 18px;
  margin-top: 25px;
}

.start,
.working,
.contactus {
  /* border:2px solid rgb(16, 206, 44); */
  margin: 30px;
  width: 33%;
  padding: 40px;
}

.middle {
  display: flex;
  /* padding:5px; */
  width: 350px;
  /* border:2px solid red; */
}

#firstline,
#Secondline {
  margin: 4px;
  width: auto;
  /* border:2px solid rgb(34, 25, 157); */
  margin-right: 20px;
}

#foothead,
#hours,
#Contactfooter {
  font-size: 25px;
  color: slateblue;
}

#bookingbtn {
  width: 150px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #121212;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  padding: 0%;
  cursor: pointer;
}

#bookingbtn:hover {
  background-color: white;
  color: black;
  /* cursor: pointer; */
}

#closed {
  color: rgb(214, 79, 102);
}
